
.root {
    -fx-font-family: 'Arial Narrow';
}

.form {
    border-radius: 20px;
    box-sizing: border-box;
    height: 500px;
    padding: 20px;
    width: 320px;
}

.input {
    background-color: #303245;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
}

.button {
    -fx-background-color: #FFAE3B;
    -fx-background-radius: 20;
    -fx-text-fill: white;
    -fx-cursor: hand;
    -fx-font-weight: bold;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.5) , 6, 0.0 , 0 , 1);
    -fx-transition: 0.5s;
}

.button:hover {
    -fx-effect: none;
    -fx-transform: scale(1.05);
}

#vbox {
    -fx-alignment: center;
}